
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
nav{
    background-color: rgba(25, 24, 25, 0.823);
    align-items: center; 
    display: flex; 
    justify-content: right; 
    gap: 600px;
}

nav h1{
    color: rgb(243, 172, 80);
     font-weight: bold;
}
nav ul{
    display: flex;
    align-items: center;
    text-align: center;
}
nav ul li{
    display: inline;
    line-height: 100px;
    margin: 0 20px;
    font-style: oblique;
}
nav ul li a{
    position: relative;
    color: rgb(243, 172, 80);
    font-size: 15px;
    font-weight: 600;
    padding: 5px 0;
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;

}
nav ul li a:before {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    height: 3PX;
    width: 100%;
    background: rgb(243, 172, 80);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s linear;

}

nav ul li a:hover:before {
    transform: scaleX(1);
    transform-origin: left;
}

label #open,
label #close {
    color: white;
    font-size: 30px;
    float: left;
    line-height: 80px;
    margin-right: 40px;
    display: none;
}

#check {
    display: none;
}

/* banner section */
.banner-flex{
    display: flex;
    margin: auto;
}
.banner-btn {
    background-color: rgb(19, 19, 18);
    color: rgb(243, 172, 80);
    border: 2px solid rgb(0, 0, 0, 0.792)
}
.banner-btn:hover {
    background-color: rgb(243, 172, 80);
    color: rgb(18, 18, 18);

}
.banner-img {
    width: 50%; 
    margin-top: 100px; 
    margin-left: 140px;
}
.banner-info{
    margin: 200px auto;
    align-items: center;  
    margin-left: 180px;
    margin-right: 80px;
}
.banner-info h1{
    color: rgb(243, 172, 80);
    font-weight: bold;
    font-style: oblique;
}
.banner-info p{
    color: rgb(252, 248, 252); 
    font-style: oblique; 
}
.animate-scale {
    color: rgb(233, 143, 24);

}
.animate-scale:hover {
    transform: scale(0.90);
    color: rgba(235, 35, 198, 0.947);
 
}
.main-part{
    background-color: rgba(39, 39, 39, 0.796);
}
/* skill */
.skill-section{
    color: rgb(243, 172, 80)
}
.skill-section h3{
    font-weight: bold; 
    font-size: 40px;
}
.skill-flex{
    justify-content: space-between;
    gap: 20px;
}
.skill-part{
    display: flex; justify-content: center; gap: 200px;
}
.skill-card {
    border: 3px solid rgb(243, 172, 80);;
    border-radius: 15px;
    width: 280px;
    justify-content: center;
    text-align: center;
    background-color: rgba(27, 27, 27, 0.685);
    margin-top: 20px;
    font-style: oblique;
}
.skill-card img{
    width: 70px;
}
/* education part */
.education-part{
    color: rgb(243, 172, 80); 
}
.education-part h3{
    font-weight: bold; 
    font-size: 40px; 
    margin-top: 100px;
}
.education-card{
    display: flex; 
    justify-content: center;
    gap: 100px; 
    margin-top: 30px; 
    margin-left: 200px;    
    border: 3px solid rgb(243, 172, 80);
    border-radius: 15px;
    padding: 20px;
    width: 600px;
    justify-content: center;
    text-align: center; 
    color: rgb(248, 245, 241); 
    background-color: rgba(39, 39, 39, 0.796);
    font-style: oblique;
}
.education-card-2{
    display: flex; 
    justify-content: center;
    gap: 100px; 
    margin-top: 30px; 
    margin-left: 800px;    
    border: 3px solid rgb(243, 172, 80);
    border-radius: 15px;
    padding: 20px;
    width: 550px;
    justify-content: center;
    text-align: center; 
    color: rgb(248, 245, 241); 
    background-color: rgba(39, 39, 39, 0.796);
    font-style: oblique;
}
.education-card-2 h4{
    color: rgb(243, 172, 80);
}
.education-card h4{
    color: rgb(243, 172, 80);
}
/* about section */
.about-section{
    border: solid rgb(243, 172, 80); 
    margin-top: 50px; 
    width: 60%;
    margin-left: 20%;
    border-radius: 15px; 
    background-color: rgba(39, 39, 39, 0.796); 
}
.about-text{
    line-height: 40px;
    font-style: oblique;
}
.about-card{
    color: rgb(243, 172, 80);
    margin-top: 100px;
}
.about-card h3{
    font-weight: bold; 
    font-size: 40px;
}
/* contact section */
.contact-section{
    background-color: rgba(25, 24, 25, 0.823);
}
.contact-section h3{
    font-weight: bold; 
    font-size: 40px; 
    margin-top: 60px; 
    color: rgb(243, 172, 80); 
}
.contact {
    padding: 5px;
    border-radius: 18px;
    width: 320px;
    border: 2px solid;
    font-style: oblique;
}

.contact a {
    color: rgb(243, 172, 80);

}
.contact:hover {
    background-color: rgb(243, 172, 80);
    color: rgb(18, 18, 18);
}
.location {
    margin-left: 600px;
}

.contact-heading {
    margin-bottom: 40px;
}
.footer-flex{
    display: flex;
    justify-content: center;
    gap: 10px;
}

@media screen and (max-width:576px) {
    label #open {
        display: block;
        cursor: pointer;
    }

    ul {
        position: fixed;
        width: 50%;
        height: 50vh;
        background: rgba(15, 16, 16, 0.821);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
        z-index: 1;
    }
    nav h1{
        display: none;
    }
    nav{
        position: fixed;
        width: 100%;
        z-index: 1;
    }
    nav ul{
        flex-direction: column;
    }
    nav ul li {
        display: block;
        margin: 0px 0; 
        line-height: 60px;

    }
    
    nav ul li a {
        font-size: 20px;
    }

    #check:checked ~ ul {
        left: 0;
    }

    #check:checked ~ label #open {
        display: none;
    }

    #check:checked~label #close {
        display: block;
        cursor: pointer;
    }
    /* banner section */
    .banner-flex{
        flex-direction: column-reverse;
        padding-top: 100px;
        z-index: -1;
        text-align: center;
        width: 100%;
        margin: 0;
        margin-right: 90px;
    }
    .banner-info{
        margin-top: 80px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 80px;
    }
    .banner-img {
        width: 50%;
        margin-right: 90%;
        margin-left: 100px;
        margin-top: 0px;
    }
    .banner-btn{
        margin-top: 15px;
    }
    /* skill section */
    .skill-flex{
        flex-direction: column;
        
    }
    .skill-card{
        width: 30%;
        margin: 0 auto;
    }

    /* education section */
    .education{
        flex-direction: column;
    }
    .education-card{
        width: 70%;
        margin: 0 auto;
        margin-right: 120px;
    }
    .education-card-2{
        width: 70%;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 120px;
    }
    /* about section */
    .about{
        flex-direction: column;
    }
    .about-card{
        margin: 40px;
    }
    .about-section{
        width: 95%;
        margin: 0;
        margin-left: 10px;
    }
    .about-text{
        line-height: normal;
    }
/* footer section */
.location {
    margin-left: 0rem;
}
.footer-flex{
    flex-direction: column;
    gap: 25px;
}
.contact{
    width: 80%;
    margin: 0 auto;
}
}

