
nav ul{
    align-items: center;
    text-align: center;
}
nav ul li{
    display: inline;
    line-height: 100px;
    margin: 0 20px;
}
nav ul li a{
    position: relative;
    color: rgb(243, 172, 80);
    font-size: 15px;
    font-weight: 600;
    padding: 5px 0;
    text-decoration: none;
    list-style: none;

}
.banner-flex{
    display: flex;
    margin: auto;
}
.banner-btn {
    background-color: rgb(19, 19, 18);
    color: rgb(243, 172, 80);
}
.banner-btn:hover {
    background-color: rgb(243, 172, 80);
    color: rgb(18, 18, 18);

}
.banner-img {
    width: 70%;
    height: 75%;
}
.banner-info{
    margin: 200px auto;
    align-items: center; 
    
}

.animate-scale {
    color: rgb(233, 143, 24);

}
.animate-scale:hover {
    transform: scale(0.90);
    color: rgb(247, 244, 244);
 
}

